@model LolApp.Models.ChampionDataModel

@{
    ViewBag.Title = "View1";
}

<div id="champion-info">
    <h3>@Model.champ.name</h3>
    <img src="http://ddragon.leagueoflegends.com/cdn/5.15.1/img/champion/@Model.champ.image.full" />
    <ul>
        <li>Health: @Model.champ.stats.hp</li>
        <li>AD: @Model.champ.stats.attackdamage</li>           
    </ul>
</div>


